/* Universal styles */
body {
    background-image: linear-gradient(to bottom right, rgb(167, 60, 56), rgb(196, 188, 188)) ;
    margin: 0 auto;
}

h1 {
    color: rgb(167, 60, 56);
}

/* Navbar styles */

.navbar-text {
    display: inline-block;
    font-size: 22px;
    margin-left: 40px;
    margin-right: 100px;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-top: 20px;
}

.dropdown {
    font-size: 22px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 15px;
}


/* Container spacing */
.container {
    background-color: white;
    padding: 15px;
    margin: 20px auto;
    border: 1px solid rgb(196, 188, 188);
}

/* Pushese image off of the text to the right */
img {
    padding-right: 20px;
    padding-bottom: 20px;
}

/* Footer Section */
footer {
    text-align: center;
    margin-right: 7.5px;
    padding: 5px;
}